fastapi
uvicorn[standard]
pydantic
langchain>=0.1.9
langchain-core>=0.3.34
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langgraph>=0.0.11
qdrant-client[fastembed]
sentence-transformers
transformers
pypdf
python-dotenv
groq